@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
}

/* header {
    background-color: #101010;
    padding: 20px 0;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header nav .logo {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
}

header nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    margin-right: 20px;
    padding: 10px 0;
}

header nav ul li:last-child {
    margin-right: 0;
}

header nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-family: "Work Sans", sans-serif;
    font-size: 18px;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s;
}

header nav ul li a:hover {
    background-color: #ffffff;
    color: #000000;

} */


#hero {
    background: linear-gradient(0deg, #101010 -19.5%, rgba(16, 16, 16, 0.00) 100%), url(../assets/hero-bg.png);
    /* background: url(../assets/hero-bg.png) no-repeat center center/cover; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-content {
    width: 1023px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-content .subhead {
    opacity: 0.8;
    color: #FFF;
    text-align: center;
    font-family: "Work Sans";
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 16px;
}

.hero-content h1 {
    color: #FFF;
    text-align: center;
    font-family: "Work Sans";
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 80px;
    /* 125% */
    margin-bottom: 24px;
}

.hero-content .hero-description {
    color: #FFF;
    text-align: center;
    font-family: "Work Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    /* 155.556% */
    opacity: 0.7;
    margin-bottom: 32px;
}

.btn {
    padding: 21px 32px;
    border-radius: 8px;
    background: #52C303;
    color: #FFF;
    text-align: center;
    font-family: "Work Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
}

.card {
    text-align: center;
    padding: 167px 300px 184px 300px
    
}

.card-subheading {
    opacity: 0.6;
    color: #101010;
    text-align: center;
    font-family: "Work Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 16px;
}

.card-title {
    margin: auto;
    width: 691px;
    color: #101010;
    text-align: center;
    font-family: "Work Sans";
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;
    /* 133.333% */
}

.card-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
}

.card-column {
    text-align: center;
    width: 424px;
    margin: 0 16px;

}


.card-column img {
    margin-bottom: 32px;
    width: 424px;
    height: 283px;
    border-radius: 16px;
    background: url(<path-to-image>) lightgray -13px -23.519px / 125% 117.778% no-repeat;
}

.card-item-subheading{
    color: #101010;
text-align: center;
font-family: "Work Sans";
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: normal;
border-radius: 8px;
background: rgba(82, 195, 3, 0.15);
padding: 14px 32px;
width: 202px;
margin: 0 auto;
}


.card-column h1{
    color: #101010;
text-align: center;
font-family: "Work Sans";
font-size: 40px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin: 24px 0;
}

.card-item-description{
    color: #101010;
text-align: center;
font-family: "Work Sans";
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 28px; /* 155.556% */
opacity: 0.7;
align-self: stretch;
}



.card-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 64px;
}